.HeaderCart {
    position: relative !important;
}

.HeaderCartCount {
    position: absolute !important;
    background-color: rgb(255, 152, 0, .7) !important;
    left: -55%;
    top: -75%;
    width: 110% !important;
    height: 120% !important;
    font-size: 14px;
    border-radius: 100% !important;
    line-height: 25px;
    font-weight: bold;
}

.HeaderCartCountHidden {
    visibility: hidden !important;
}

.HeaderCartCountShow {
    visibility: visible !important;
}